*.~*
*.dcu
*.exe
*.bpl
__recovery/
__history/
*.bak
*.dsk
*.identcache
*.local
*.rsm
*.tvsconfig
*.dll
*.log
*.res1
*.map
*.bin
*.zip
*.flat
*.o
*.optset
*.stat
*.xml
*.otares
*.apk
*.idsig
*.fdb
dcu/
[Dd]ebug*/
*.pdb
*.cache
